
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #211f1f;
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card {
    background-color: grey ;
    padding: 40px;
    border-radius: 2px;
    width:280px;
}
.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.areadoconteudo {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.areadoconteudo input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}
.card-footer {
    display: flex;
    flex-direction: column;
}
.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #a13854;
    border:3px;
    color:#e1e1e1;
    margin: 10px 0;
    text-decoration: #a13854;
    font-size: 15px;
}
.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
}
.button{
    border-radius: 10px;
    position: relative;
    top: 4px;
    background-color: rgb(87, 65, 87);
    color: white;
    padding: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
header{
    position: relative;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
          
.logo img {
    height: 50px;
    width: auto;
}
          
nav ul {           
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
          
nav ul li {      
    margin-left: 10px;
}
          
nav ul li a {         
    color: #fff;
    text-decoration: none;
}
.button {
    background-color: #a0aaa0;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}
          
.button:hover {
    background-color: #223094;
}
.imgh{
    border-radius: 50px;
}
header {
    border-radius: 5px;
    position: relative;
    top: 100px;
    background-color: #333 transparent;

    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -2px;
}

.logo img {
    height: 50px;
    width: auto;
}