<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="Stylesheet" type="text/css" href="../arquivos/home/style.css">
</head>
<body>
  <div class="carrrossel">
      <div class="imagem">
          <a  href="/compras"><img src="../arquivos/home/HOME_1modulo_desk_1440x650_a748263e38.png" class="imagem-1"></a>
      </div>
      <div class="imagem">
        <img src="../arquivos/home/mc.jpg" alt="Imagem 2">
      </div>
      <div class="imagem">
        <img src="../arquivos/home/MC2.png" alt="Imagem 3">
      </div>
  </div>
  <h2 class="pratos">Pratos principais 
    </h2>
    <div class="principais">
    <a href="/compras"><img class="imagem-4" src="../arquivos/home/lanches.jpg"></a>
    <a href="/compras"><img class="imagem-4" src="../arquivos/home/lanches6.webp"></a>
    <a href="/compras"><img class="imagem-4" src="../arquivos/home/lanches7.jpg"></a>
    <a href="/compras"><img class="imagem-4" src="../arquivos/home/receita-smash-burger.jpg"></a>
    <a href="/compras"><img class="imagem-4" src="../arquivos/home/lanches-mais-vendidos-no-brasil-melhores.jpg"></a>
    <a href="/compras"><img class="imagem-4" src="../arquivos/home/lanches9.jpg"></a>
  </div>
  <header>
        <div class="logo">
          <a href="/"><img class="imgh" src="../arquivos/home/vetor-do-logotipo-do-burger-art-design_260747-237.avif"  alt="Logo do site"></a>
        </div>
        <nav>
          <ul>
            <li><a href="/login" class="button">Login</a></li>
            <li><a href="/compras" class="button">Compra</a></li>
          </ul>
        </nav>
      </header>
</body>
</html>