<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="Stylesheet" type="text/css" href="../arquivos/login/style.css">
</head>
<body>
    <header>
    <div class="logo">
        <a href="#"><img class="imgh" src="../arquivos/login/vetor-do-logotipo-do-burger-art-design_260747-237.avif"  alt="Logo do site"></a>
    </div>
    </header>
    <div id="login">
    <form class="card">
        <div class="cabecalho">
            <h2>Login</h2>
        </div>
        <div class="card-content">
        <div class="areadoconteudo">
            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" autocomplete="off" required>
        </div>
        <div class="areadoconteudo">
            <label for="senha">Senha</label>
            <input type="password" id="senha" autocomplete="off" required>
        </div>
        
        <div class="card-footer">
            <a href="/" class="submit"><p>Login</p></a>
            <a href="#" class="recuperar_senha">Esqueceu a senha?</a>
        </div>
    </form>
    </div>
</body>
</html>
